body {
  font-family: sans-serif;
}

body::after {
  margin: 0;
  content: '';
  background-image: url('bg3.jpg');

  height: 500%;
  /* overflow: auto; */
  z-index: -10;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.lavender {
  background-color: #b1afd7;
}

.mint {
  background-color: #86e7b8;
}
